<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
		<section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />
	</configSections>

	<enyim.com>
		<memcached protocol="Binary">
			<servers>
				<add address="192.168.2.200" port="11211" />
				<add address="192.168.2.202" port="11211" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:10:00" deadTimeout="00:00:10" />

			<!--
			<locator type="Enyim.Caching.Memcached.KetamaNodeLocator, Enyim.Caching" />
			<keyTransformer type="add your type here" />
			<transcoder type="add your type here" />
			-->

			<!-- uncomment the section below if your memcached instance requires authentication 
			
			<authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator" zone="AUTHZ" userName="USER NAME" password="PASSWORD" />
			
			-->
		</memcached>
	</enyim.com>

	<membase>
		<servers bucket="default" userName="A" password="11111111">
			<add uri="http://192.168.40.130:8091/pools/default" />
		</servers>
	</membase>

	<system.web>

		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="None" />
		<caching>
			<!--<outputCache defaultProvider="Memcached">
				<providers>
					<add name="Memcached" type="Enyim.Caching.Web.MemcachedOutputCacheProvider, Enyim.Caching.Web" />
				</providers>
			</outputCache>-->
		</caching>
		<sessionState customProvider="Memcached" mode="Custom">
			<providers>
				<add name="Memcached" type="Enyim.Caching.Web.MembaseSessionStateProvider, Enyim.Caching.Web" />
			</providers>
		</sessionState>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
